input.custom-upload {
  position: absolute; 
  top: 0px; 
  right: 0px; 
  margin: 0px; 
  cursor: pointer; 
  font-size: 999px; 
  opacity: 0; 
  z-index: 999;
}

.custom-file-upload {
  position: relative;
  overflow: hidden;
}

.custom-file-upload input.upload-custom-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}