
                <!-- .outer -->
                <div class="container-fluid outer">
                    <div class="row-fluid">
                        <!-- .inner -->
                        <div class="span12 inner">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="toolbar">
                                                <span class="label label-success">ABM bines</span>
                                            </div>
                                        </header>
                                        <div class="body">
                                            <h4 class="text-info"><i class="icon-list"></i> Administraci&oacuten de bines</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Begin Datatables-->
                            <hr>
                            <div class="row-fluid">
                                <div class="span4">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-list-alt"></i></div>
                                            <h5>Bines del servicio caca</h5>
                                            <h6>- 12 Bines</h6>
                                        </header>
                                        <div class="body">
                                            <table id="calls" class="table table-bordered table-condensed table-hovered sortableTable">
                                                <thead>
                                                    <tr>
                                                        <th>Bines activos<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>Eliminar<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                        <tr id=''>
                                                            <td>1234</td>
                                                            <td>
                                                                <a rel='tooltip' val='$serv' data-original-title='Eliminar bin' class='delete-bin' id='$bines[$i]' href='#delbin' data-toggle='modal'>
                                                                    <button class='btn btn-mini btn-danger'>
                                                                        <i class='icon-remove'></i>
                                                                    </button>
                                                                </a>
                                                            </td>
                                                        </tr>
                                                </tbody>
                                            </table>
                                            <a href="#add-bin-<?echo $serv ?>" rel="tooltip" data-toggle="modal">
                                                <button id='agregar-bin' class='btn btn-small btn-metis-5 pull-right' type='button'>Agregar bin</button>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                <div class="span4">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-th-list"></i></div>
                                            <h5>Bines del servicio caca</h5>
                                            <h6>- 123 Bines</h6>
                                        </header>
                                        <div class="body">
                                            <table id="calls" class="table table-bordered table-condensed table-hovered sortableTable">
                                                <thead>
                                                    <tr>
                                                        <th>Bines activos<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>Eliminar<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr id=''>
                                                        <td>1234</td>
                                                        <td>
                                                            <a rel='tooltip' val='caca' data-original-title='Eliminar bin' class='delete-bin' id='1234' href='#delbin' data-toggle='modal'>
                                                                <button class='btn btn-mini btn-danger'>
                                                                    <i class='icon-remove'></i>
                                                                </button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <a href="#add-bin-<?echo $serv ?>" rel="tooltip" data-toggle="modal">
                                                <button id='agregar-bin' class='btn btn-small btn-metis-5 pull-right' type='button'>Agregar bin</button>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>

                                <div class="span4">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-list-ul"></i></div>
                                            <h5>Bines del servicio caca</h5>
                                            <h6>- 123 Bines</h6>
                                        </header>
                                        <div class="body">
                                            <table id="calls" class="table table-bordered table-condensed table-hovered sortableTable">
                                                <thead>
                                                    <tr>
                                                        <th>Bines activos<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>Eliminar<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr id=''>
                                                        <td>123</td>
                                                        <td>
                                                            <a rel='tooltip' val='caca' data-original-title='Eliminar bin' class='delete-bin' id='4321' href='#delbin' data-toggle='modal'>
                                                                <button class='btn btn-mini btn-danger'>
                                                                    <i class='icon-remove'></i>
                                                                </button>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                            <a href="#add-bin-<?echo $serv ?>" rel="tooltip" data-toggle="modal">
                                                <button id='agregar-bin' class='btn btn-small btn-metis-5 pull-right' type='button'>Agregar bin</button>
                                            </a>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->
            <!-- #delbin -->
            <div id="delbin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="delfileModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3><i class="icon-trash"></i> Eliminar bin</h3>
                </div>

                <form action="<? echo $post ?>" method="post" class="form-horizontal">
                    <div class="modal-body">
                        <div id="div-1" class="accordion-body collapse in body">
                            <div class="alert alert-error">
                                <h4><i class="icon-warning-sign"></i> Atenci&oacuten!</h4><br />
                                <div id="collapse1" class="body">
                                    <span>Esta por <b>eliminar</b> el bin 
                                        <b><span id="bintext"></span></b>, del servicio <b><span id="servtext"></span></b>.<br />
                                        Este cambio es irreversible, presione confirmar para proceder.</span>
                                </div>
                                <input type="hidden" name="from" id="from" value="bines" />
                                <input type="hidden" name="serv" id="serv" />
                                <input type="hidden" name="bin" id="bin" />
                                <input type="hidden" name="action" id="action" value="D" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="Confirmar" name="sendform" class="btn btn-metis-5 btn-primary">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                    </div>
                </form>
            </div>
            <!-- /#delbin -->

            <!-- #add-bin-precargada -->
            <div id="add-bin-precargada" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-binLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="add-binLabel"><i class="icon-plus-sign-alt"></i> Agregar bin precargada</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Para registrar un nuevo bin en el sistema, por favor complete el formulario.
                    </p>
                    <hr>
                    <div id="div-1" class="accordion-body collapse in body">
                        <form action="<? echo $post ?>" id="add-bin-precargada-form" class="form-horizontal" accept-charset="utf-8" method="post">

                            <div class="control-group">
                                <label class="control-label">Bin</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-list-ol"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="text" id="bin" name="bin" placeholder="ej: 604215">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="hidden" name="from" id="from" value="bines" />
                                <input type="hidden" name="action" id="action" value="I" />
                                <input type="hidden" name="serv" id="serv" value="precargada" />
                                <input type="hidden" name="sendform" id="sendform" value=1 />
                                <button type="submit" class="btn btn-metis-5">Agregar</button>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /#add-bin-precargada -->

            <!-- #add-bin-creditos -->
            <div id="add-bin-creditos" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-binLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="add-binLabel"><i class="icon-plus-sign-alt"></i> Agregar bin creditos</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Para registrar un nuevo bin en el sistema, por favor complete el formulario.
                    </p>
                    <hr>
                    <div id="div-1" class="accordion-body collapse in body">
                        <form action="<? echo $post ?>" id="add-bin-creditos-form" class="form-horizontal" accept-charset="utf-8" method="post">

                            <div class="control-group">
                                <label class="control-label">Bin</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-list-ol"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="text" id="bin" name="bin" placeholder="ej: 589615">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="hidden" name="from" id="from" value="bines" />
                                <input type="hidden" name="action" id="action" value="I" />
                                <input type="hidden" name="serv" id="serv" value="creditos" />
                                <input type="hidden" name="sendform" id="sendform" value=1 />
                                <button type="submit" class="btn btn-metis-5">Agregar</button>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /#add-bin-creditos -->

            <!-- #add-bin-autorizaciones -->
            <div id="add-bin-autorizaciones" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-binLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="add-binLabel"><i class="icon-plus-sign-alt"></i> Agregar bin autorizaciones</h3>
                </div>
                <div class="modal-body">
                    <p>
                        Para registrar un nuevo bin en el sistema, por favor complete el formulario.
                    </p>
                    <hr>
                    <div id="div-1" class="accordion-body collapse in body">
                        <form action="<? echo $post ?>" id="add-bin-autorizaciones-form" class="form-horizontal" accept-charset="utf-8" method="post">

                            <div class="control-group">
                                <label class="control-label">Bin</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-list-ol"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="text" id="bin" name="bin" placeholder="ej: -">
                                </div>
                            </div>

                            <div class="modal-footer">
                                <input type="hidden" name="from" id="from" value="bines" />
                                <input type="hidden" name="action" id="action" value="I" />
                                <input type="hidden" name="serv" id="serv" value="autorizaciones" />
                                <input type="hidden" name="sendform" id="sendform" value=1 />
                                <button type="submit" class="btn btn-metis-5">Agregar</button>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /#add-bin-autorizaciones -->