
                <!-- .outer -->
                <div class="container-fluid outer">
                    <div class="row-fluid">
                        <!-- .inner -->
                        <div class="span12 inner">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="toolbar">
                                                <span class="label label-success">{{ _('List of concurrent calls') }}</span>
                                            </div>
                                        </header>
                                        <div class="body">
                                            <h4 class="text-info"><i class="icon-phone-sign"></i> {{ _('Calls in progress') }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-phone"></i></div>
                                            <h5>{{ _('Concurrent calls') }}</h5>
                                        </header>
                                        <div class="body">
                                            <div class='controls'>
                                                <h6>
                                                    <span id='numcalls'>12</span> {{ _('Calls') }}
                                                </h6>
                                                <div id='percenttype' class='progress progress-striped active'>
                                                    <div id='percentcalls' class='bar' style='width: 12%'><span id='percentcallstxt'>12</span>%</div>
                                                </div>
                                            </div>
                                            <table id="calls" class="table table-bordered table-condensed table-hovered sortableTable">
                                                <thead>
                                                    <tr>
                                                        <th>{{ _('Caller id') }}<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>{{ _('Caller name') }}<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>{{ _('Service') }}<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>{{ _('Time') }}<i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody id='calls-body'>
                                                    <tr id=''>
                                                        <td>caca</td>
                                                        <td>caca</td>
                                                        <td>caca</td>
                                                        <td id='counter' unix='232'>caca</td>
                                                    </tr>
                                                    <tr id='nocalls'>
                                                        <td colspan='4'>{{ _('No calls at this time') }}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->