         
                <!-- .outer -->
                <div class="container-fluid outer">
                    <div class="row-fluid">
                        <!-- .inner -->
                        <div class="span12 inner">
                            <div class="tac">
                                <ul class="stats_box">
                                    <li>
                                        <div class="sparkline line_day" values="{{ c.day_values }}"></div>
                                        <div class="stat_text">
                                            <strong>{{ c.day_calls }}</strong>Llam. diarias
                                            <span class="percent up"> <i class="icon-caret-up"></i> +0%</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sparkline bar_week" values="{{ c.week_values }}"></div>
                                        <div class="stat_text">
                                            <strong>{{ c.week_calls }}</strong>Llam. semanal
                                            <span class="percent down"> <i class="icon-caret-down"></i> -0%</span>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="sparkline stacked_month" values="{{ c.month_values }}"></div>
                                        <div class="stat_text">
                                            <strong>{{ c.month_calls }}</strong>Llam. mensual
                                            <span class="percent down"> <i class="icon-caret-down"></i> -0%</span>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <hr>
                            <div class="tac">
                                <a class="quick-btn" href="/system/panel#error" data-pjax="#content">
                                    <i class="icon-remove-sign icon-2x"></i>
                                    <span>Errores</span>
                                    <span id="ica-logs-error" class="label label-important">{{ c.ica_logs_error }}</span>
                                </a>
                                <a class="quick-btn" href="/system/panel#warning" data-pjax="#content">
                                    <i class="icon-warning-sign icon-2x"></i>
                                    <span>Alertas</span>
                                    <span id="ica-logs-warning" class="label label-warning">{{ c.ica_logs_warning }}</span>
                                </a>
                                <a class="quick-btn" href="/reports/currentcalls" data-pjax="#content">
                                    <i class="icon-phone-sign icon-2x"></i>
                                    <span>Llamadas</span>
                                    <span id="ica-logs-calls" class="label label-success">{{ c.ica_logs_calls }}</span>
                                </a>
                                <a class="quick-btn" href="/system/panel#jpos" data-pjax="#content">
                                    <i class="icon-coffee icon-2x"></i>
                                    <span>Jpos</span>
                                    <span id="ica-logs-serv-jpos" class="label label-important">{{ c.ica_logs_serv_jpos }}</span>
                                </a>
                            </div>
                            <hr>
                            <div class="row-fluid">
                                <div class="span8">
                                    <div class="box">
                                        <header>
                                            <h5>Gr&aacutefico -> Llamadas recibidas</h5>
                                        </header>
                                        <div class="body" id="trigo" style="height: 250px;"></div>
                                    </div>
                                </div>
                                <div class="span4">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-phone"></i></div>
                                            <h5>Tabla -> Llamadas recibidas</h5>
                                        </header>
                                        <div class="body">
                                            <table class="table table-bordered table-condensed table-hovered sortableTable">
                                                <thead>
                                                    <tr>
                                                        <th>Fecha <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>Llamadas <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                        <th>Porcentaje <i class="icon-sort"></i><i class="icon-sort-down"></i><i
                                                            class="icon-sort-up"></i></th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in c.week %}
                                                        <tr>
                                                            <td>{{ i.days.strftime('%e %b') }}</td>
                                                            <td>{{ i.calls }}</td>
                                                            <td>0%</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="icons"><i class="icon-tags"></i></div>
                                            <h5>Todos</h5>
                                        </header>
                                        <div class="block">
                                            <table class="table table-striped">
                                                <tbody>
                                                    <tr>
                                                        <td>sdg</td>
                                                        <td>dsfg</td>
                                                    </tr>
                                                    <tr>
                                                        <td>sdfg</td>
                                                        <td>dfg</td>
                                                    </tr>
                                                    <tr class="success">
                                                        <td>dsfg</td>
                                                        <td>dfg</td>
                                                    </tr>
                                                    <tr>
                                                        <td>dfgh</td>
                                                        <td>dfh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>dfgh</td>
                                                        <td>dfhg</td>
                                                    </tr>
                                                    <tr>
                                                        <td>ddfghdfgh</td>
                                                        <td>dfh</td>
                                                    </tr>
                                                    <tr>
                                                        <td>dfh</td>
                                                        <td>ddfhdh</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->