<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Acceso</title>
        <link type="text/css" rel="stylesheet" href="/metis/assets/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/metis/assets/css/login.css">
        <link type="text/css" rel="stylesheet" href="/metis/assets/css/font-awesome.min.css">
        <!--<link type="text/css" rel="stylesheet" href="/metis/assets/css/bootstrap-responsive.min.css">-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span4 offset4">
                    <div class="signin">
                        <div id="logo">
                            <img src="/metis/assets/img/logocredicoop.png" alt="Banco Credicoop">
                        </div>
                        <div class="tab-content muted tac">
                            {% if c.login_error %}
                                <div id="login_error" class="alert alert-error">
                                    <i class="icon-remove-sign icon-1x"></i>
                                    <span>
                                        <strong>Error!</strong> El nombre de usuario o la contraseña son incorrectos.
                                    </span>
                                </div>
                            {% endif %}
                            <div id="login" class="tab-pane active">
                                <form action="/login" accept-charset="utf-8" method="post">
                                    <p>Ingrese su nombre de usuario y clave</p>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-user"></i></span>
                                                <input type="text" id="username" name="username" autocomplete="off" placeholder="Usuario" 
                                                {% if c.post is defined %}value="{{ c.post['username'] }}"{% endif %}>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-lock"></i></span>
                                                <input type="password" id="password" name="password" autocomplete="off" placeholder="Clave">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="action" id="action" value="login" />
                                    <input type="submit" name="Auth" id="Auth" value="Ingresar" class="btn btn-inverse btn-block">
                                </form>
                            </div>
                            <div id="forgot" class="tab-pane">
                                <p class="muted tac">Ingrese su e-mail</p>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-envelope"></i></span>
                                            <input type="email" placeholder="mail@domain.com" required="required">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-inverse btn-block" type="submit">Recuperar clave</button>
                            </div>
                            <div id="signup" class="tab-pane">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-user"></i></span>
                                            <input type="text" placeholder="username">
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-envelope"></i></span>
                                            <input type="email" placeholder="mail@domain.com">
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-lock"></i></span>
                                            <input type="password" placeholder="password">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-inverse btn-block" type="submit">Registrar</button>
                            </div>
                        </div>
                        <ul class="inline">
                            <li><a class="muted" href="#login" data-toggle="tab">Acceder</a></li>
                            <li><a class="muted" href="#forgot" data-toggle="tab">Olvid&eacute la clave</a></li>
                            <li><a class="muted" href="#signup" data-toggle="tab">Registrarse</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="/metis/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script type="text/javascript" src="/metis/assets/js/vendor/bootstrap.min.js"></script>
        <script type="text/javascript" src="/metis/assets/js/main.js"></script>
    </body>
</html>