<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Acceso</title>
        <link type="text/css" rel="stylesheet" href="/metis/assets/css/bootstrap.min.css"/>
        <link type="text/css" rel="stylesheet" href="/metis/assets/css/login.css">
        <link type="text/css" rel="stylesheet" href="/metis/assets/css/font-awesome.min.css">
        <!--<link type="text/css" rel="stylesheet" href="/metis/assets/css/bootstrap-responsive.min.css">-->
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="span4 offset4">
                    <div class="signin">
                        <div id="logo">
                            <img src="" alt="">
                        </div>
                        <div class="tab-content muted tac">
                            {% if c.login_error %}
                                <div id="login_error" class="alert alert-error">
                                    <i class="icon-remove-sign icon-1x"></i>
                                    <span>
                                        <strong>{{ _('Error') }}!</strong> {{ _('The username or password are incorrect.') }}
                                    </span>
                                </div>
                            {% endif %}

                            {% if c.ldap_enabled %}
                            <div id="ldap" class="tab-pane active">
                                <form action="/login_generic?came_from={{ c.came_from }}&amp;__logins={{ c.login_counter }}&amp;__auth=ldap" method="POST">
                                    <p>{{ _('LDAP login, enter your username and password') }}</p>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-user"></i></span>
                                                <input type="text" id="login" name="login" autocomplete="off" placeholder="{{ _('User') }}" 
                                                {% if c.user is defined %}value="{{ c.user }}"{% endif %}>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-lock"></i></span>
                                                <input type="password" id="password" name="password" autocomplete="off" placeholder="{{ _('Password') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" name="Auth" id="Auth" value="{{ _('Login') }}" class="btn btn-inverse btn-block">
                                </form>
                            </div>
                            {% endif %}

                            {% if c.ldap_enabled %}
                            <div id="custom" class="tab-pane">
                            {% else %}
                            <div id="custom" class="tab-pane active">
                            {% endif %}
                                <form action="/login_generic?came_from={{ c.came_from }}&amp;__logins={{ c.login_counter }}&amp;__auth=custom" method="POST">
                                    <p>{{ _('Custom login, enter your username and password') }}</p>
                                    <div class="control-group">
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-user"></i></span>
                                                <input type="text" id="login" name="login" autocomplete="off" placeholder="{{ _('User') }}" 
                                                {% if c.user is defined %}value="{{ c.user }}"{% endif %}>
                                            </div>
                                        </div>
                                        <div class="controls">
                                            <div class="input-prepend">
                                                <span class="add-on"><i class="icon-lock"></i></span>
                                                <input type="password" id="password" name="password" autocomplete="off" placeholder="{{ _('Password') }}">
                                            </div>
                                        </div>
                                    </div>
                                    <input type="submit" name="Auth" id="Auth" value="{{ _('Login') }}" class="btn btn-inverse btn-block">
                                </form>
                            </div>


                            <div id="forgot" class="tab-pane">
                                <p class="muted tac">{{ _('Entre your e-mail') }}</p>
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-envelope"></i></span>
                                            <input type="email" placeholder="mail@domain.com" required="required">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-inverse btn-block" type="submit">{{ _('Restore password') }}</button>
                            </div>
                            <div id="signup" class="tab-pane">
                                <div class="control-group">
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-user"></i></span>
                                            <input type="text" placeholder="username">
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-envelope"></i></span>
                                            <input type="email" placeholder="mail@domain.com">
                                        </div>
                                    </div>
                                    <div class="controls">
                                        <div class="input-prepend">
                                            <span class="add-on"><i class="icon-lock"></i></span>
                                            <input type="password" placeholder="password">
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-inverse btn-block" type="submit">{{ _('Register') }}</button>
                            </div>
                        </div>
                        <ul class="inline">
                            {% if c.ldap_enabled %}
                            <li><a class="muted" href="#ldap" data-toggle="tab">{{ _('Ldap') }}</a></li>
                            {% endif %}
                            <li><a class="muted" href="#custom" data-toggle="tab">{{ _('Custom') }}</a></li>
                            <li><a class="muted" href="#forgot" data-toggle="tab">{{ _('I forgot my password') }}</a></li>
                            <li><a class="muted" href="#signup" data-toggle="tab">{{ _('Register') }}</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!--<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>-->
        <script>window.jQuery || document.write('<script src="/metis/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
        <script type="text/javascript" src="/metis/assets/js/vendor/bootstrap.min.js"></script>
    </body>
</html>
