
                <!-- .outer -->
                <div class="container-fluid outer">
                    <div class="row-fluid">
                        <!-- .inner -->
                        <div class="span12 inner">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="toolbar">
                                                <span class="label label-success">{{ _('Admin panel') }}</span>
                                            </div>
                                        </header>
                                        <div class="body">
                                            <h4 class="text-info"><i class="icon-wrench"></i> {{ _('Tools') }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Begin Datatables-->
                            <hr>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div id="users" class="box">
                                        <header>
                                            <div class="icons"><i class="icon-group"></i></div>
                                            <h5 class="text-success">{{ _('Users') }}</h5>
                                        </header>
                                        <div id="collapse4" class="body">
                                            <table id="dataTable" class="table table-bordered table-condensed table-hover table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>{{ _('User') }}</th>
                                                        <th>{{ _('Name') }}</th>
                                                        <th>{{ _('Role') }}</th>
                                                        <th>{{ _('Last access') }}</th>
                                                        <th>{{ _('Password expire') }}</th>
                                                        <th>{{ _('Actions') }}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for i in c.users %}
                                                    <tr>
                                                        <td>{{ i.user }}</td>
                                                        <td id="name-{{ i.user }}">{{ i.name }}</td>
                                                        <td id="role-{{ i.user }}" value="{{ i.role }}">{{ i.role_n }}</td>
                                                        <td>{{ i.access }}</td>
                                                        <td>{{ i.ttl }}</td>
                                                        <td>
                                                            {% if i.expire > 0 %}
                                                            <a rel='tooltip' 
                                                            data-original-title='{{ _('Make the password expiry') }}' 
                                                            class='expire-usuario' id='{{ i.user }}' 
                                                            href='#expire-usuario' data-toggle='modal'>
                                                                <button class='btn btn-mini btn-success'>
                                                                    <i class='icon-key'></i>
                                                                </button>
                                                            </a>
                                                            {% endif %}
                                                            <a rel='tooltip' 
                                                            data-original-title='{{ _('Edit user data') }}' 
                                                            class='edit-usuario' id='{{ i.user }}' 
                                                            href='#edit-usuario' data-toggle='modal'>
                                                                <button class='btn btn-mini btn-info'>
                                                                    <i class='icon-edit'></i>
                                                                </button>
                                                            </a>
                                                            <a rel='tooltip' 
                                                            data-original-title='{{ _('Delete user') }}' 
                                                            class='delete-usuario' id='{{ i.user }}' 
                                                            href='#delete-usuario' data-toggle='modal'>
                                                                <button class='btn btn-mini btn-danger'>
                                                                    <i class='icon-trash'></i>
                                                                </button>
                                                            </a>
                                                        </td>
                                                    <tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                            <hr>
                                            <a href="#add-usuario" rel="tooltip" data-toggle="modal">
                                                <button id='agregar-usuario' class='btn btn-small btn-metis-5 pull-right' type='button'>{{ _('Add user') }}</button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <!--End Datatables-->
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div id="warning" class="box">
                                                <header>
                                                    <h5 class="text-warning"><i class="icon-exclamation-sign"></i> {{ _('Alerts messages') }}</h5>
                                                    <div class="toolbar">
                                                        <a rel='tooltip' data-original-title='Borrar alertas' href='#delete-warning' data-toggle='modal'><button class='btn btn-mini btn-warning'><i class='icon-trash'></i></button></a>
                                                        <span class="label label-warning">
                                                            <i class="icon-exclamation-sign"></i>
                                                            {{ _('Alerts') }}
                                                        </span>
                                                    </div>
                                                </header>
                                                <div class="body">
                                                    <p class="muted"><i>
                                                        {{ _('The following messages are') }} <b>{{ _('alerts') }}</b> {{_('of the information system')}}
                                                    </i></p>
                                                    {% for i in c.ica_logs_warning %}
                                                        <span class='badge badge-warning'><small>{{ i }}</small></span><br />
                                                    {% endfor %}

                                                    {% if c.ica_logs_warning|count == 0 %}
                                                        <small class='text-warning'>{{ _('No messages to display') }}
                                                            <i class='icon-smile'></i>
                                                        </small> <br />
                                                    {% elif c.ica_logs_warning|count >= 5 %}
                                                        <small class='text-warning'>...</small><br />
                                                        <small>
                                                            <a href='/system/panel/warning' data-pjax="#content">{{ _('Show all') }} ({{ c.ica_logs_error|count }})</a>
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div id="error" class="box">
                                                <header>
                                                    <h5 class="text-error"><i class="icon-warning-sign"></i> {{ _('Error messages') }} </h5>
                                                    <div class="toolbar">
                                                        <a rel='tooltip' data-original-title='Borrar errores' href='#delete-error' data-toggle='modal'><button class='btn btn-mini btn-danger'><i class='icon-trash'></i></button></a>
                                                        <span class="label label-important">
                                                            <i class="icon-warning-sign"></i>
                                                            {{ _('Errors') }}
                                                        </span>
                                                    </div>
                                                </header>
                                                <div class="body">
                                                    <p class="muted"><i>
                                                        {{ _('The following messages are') }} <b>{{ _('errors') }}</b> {{ _('importants of the system') }}
                                                    </i></p>
                                                    {% for i in c.ica_logs_error %}
                                                        <span class='badge badge-important'><small>{{ i }}</small>
                                                        </span><br />
                                                    {% endfor %}

                                                    {% if c.ica_logs_error|count == 0 %}
                                                        <small class='text-error'>{{ _('No messages to display') }}
                                                            <i class='icon-smile'></i>
                                                        </small> <br />
                                                    {% elif c.ica_logs_error|count >= 5 %}
                                                        <small class='text-error'>...</small><br />
                                                        <small>
                                                            <a href='/system/panel/error' data-pjax="#content">{{ _('Show all') }} ({{ c.ica_logs_error|count }})</a>
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div id="jpos" class="box">
                                                <header>
                                                    <h5 class="text-error"><i class="icon-warning-sign"></i> {{ _('Errors of') }} JPOS </h5>
                                                    <div class="toolbar">
                                                        <!--<a rel='tooltip' data-original-title='Borrar errores' href='#delete-error' data-toggle='modal'><button class='btn btn-mini btn-danger'><i class='icon-trash'></i></button></a>-->
                                                        <span class="label label-important">
                                                            <i class="icon-warning-sign"></i>
                                                            JPOS
                                                        </span>
                                                    </div>
                                                </header>
                                                <div class="body">
                                                    <p class="muted"><i>
                                                        Los siguientes mensajes son transacciones <b>fallidas</b> hacia el sistema de tramas JPOS
                                                    </i></p>
                                                    {% for i in c.ica_logs_serv_jpos %}
                                                        <span class='badge badge-important'><small>{{ i }}</small>
                                                        </span><br />
                                                    {% endfor %}

                                                    {% if c.ica_logs_serv_jpos|count == 0 %}
                                                        <small class='text-error'>{{ _('No messages to display') }}
                                                            <i class='icon-smile'></i>
                                                        </small> <br />
                                                    {% elif c.ica_logs_serv_jpos|count >= 5 %}
                                                        <small class='text-error'>...</small><br />
                                                        <small>
                                                            <a href='/system/panel/jpos' data-pjax="#content">{{ _('Show all') }} ({{ c.ica_logs_serv_jpos|count }})</a>
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->

            <!-- #expire-usuario -->
            <div id="expire-usuario" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3><i class="icon-key"></i> {{ _('Expiry password') }}</h3>
                </div>

                <form action="" method="post" class="form-horizontal">
                    <div class="modal-body">
                        <div id="div-1" class="accordion-body collapse in body">
                            <div class="alert alert-info">
                                <h4><i class="icon-info-sign"></i> {{ _('Alert') }}!</h4><br />
                                <div id="collapse1" class="body">
                                    <span>{{ _('You are going to') }} <b>{{ _('expiry') }}</b> {{ _('the users password') }} 
                                        <b><span id="nameusuario"></span></b>, {{ _('this implies that the next time you enter the system. This will ask change password') }}.<br />
                                        {{ _('Press confirm to proceed') }}</span>
                                </div>
                                <input type="hidden" name="from" id="from" value="panel" />
                                <input type="hidden" name="usuario" id="usuario">
                                <input type="hidden" name="action" id="action" value="E" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="{{ _('Confirm') }}" name="sendform" class="btn btn-metis-5 btn-primary">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
                    </div>
                </form>
            </div>
            <!-- /#expire-usuario -->

            <!-- #delete-usuario -->
            <div id="delete-usuario" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3><i class="icon-trash"></i> {{ _('Delete user') }}</h3>
                </div>

                <form action="" method="post" class="form-horizontal">
                    <div class="modal-body">
                        <div id="div-1" class="accordion-body collapse in body">
                            <div class="alert alert-error">
                                <h4><i class="icon-warning-sign"></i> {{ _('Alert') }}!</h4><br />
                                <div id="collapse1" class="body">
                                    <span>{{ _('You are going to') }} <b>{{ _('delete') }}</b> {{ _('the user') }} 
                                        <b><span id="nameusuario"></span></b>.
                                        {{ _('Press confirm to proceed') }}</span>
                                </div>
                                <input type="hidden" name="from" id="from" value="panel" />
                                <input type="hidden" name="usuario" id="usuario">
                                <input type="hidden" name="action" id="action" value="D" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="{{ _('Confirm') }}" name="sendform" class="btn btn-metis-5 btn-primary">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
                    </div>
                </form>
            </div>
            <!-- /#delete-usuario -->

            <!-- #add-usuario -->
            <div id="add-usuario" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="add-usuarioLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="add-usuarioLabel"><i class="icon-user"></i> {{ _('Add user') }}</h3>
                </div>
                <div class="modal-body">
                    <p>
                        {{ _('To register a new user on the system, please complete the form') }}.
                    </p>
                    <hr>
                    <div id="div-1" class="accordion-body collapse in body">
                        <form action="" id="add-usuario-form" class="form-horizontal" accept-charset="utf-8" method="post">
                            <div class="control-group">
                                <label class="control-label">{{ _('User') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-user"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="text" id="usuario" name="usuario" placeholder="ej: eslovelle">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ _('Name') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-text-width"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="text" id="nombre" name="nombre" placeholder="ej: Juan Morales">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ _('Role') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-wrench"></i></span>
                                    </div>
                                    <select style="margin-left: -4px;" name="rol" id="rol" class="validate[required]">
                                        <option value="">{{ _('Choose a role') }}</option>
                                            <option value='1'>{{ _('Administrator') }}</option>
                                            <option value='2'>{{ _('Moderator') }}</option>
                                            <option value='3'>{{ _('User') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ _('Password') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-lock"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="password" id="clave" name="clave" placeholder="{{ _('New password') }}">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ _('Confirm password') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-lock"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="password" id="claveconfirm" name="claveconfirm" placeholder="{{ _('Confirm new password') }}">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="from" id="from" value="panel" />
                                <input type="hidden" name="action" id="action" value="I" />
                                <input type="hidden" name="sendform" id="sendform" value=1 />
                                <button type="submit" class="btn btn-metis-5">{{ _('Send') }}</button>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /#add-usuario -->

            <!-- #edit-usuario -->
            <div id="edit-usuario" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="edit-usuarioLabel" aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3 id="edit-usuarioLabel"><i class="icon-user"></i> {{ _('Modify user') }}</h3>
                </div>
                <div class="modal-body">
                    <p>
                        {{ _('This is the form to edit data from a user already registered in the system') }}.
                    </p>
                    <hr>
                    <div id="div-1" class="accordion-body collapse in body">
                        <form action="" id="edit-usuario-form" class="form-horizontal" accept-charset="utf-8" method="post">
                            <div class="control-group">
                                <label class="control-label">{{ _('User') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-user"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="text" id="usuario" name="usuario" readonly>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ _('Name') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-text-width"></i></span>
                                    </div>
                                    <input style="margin-left: -4px;" type="text" id="nombre" name="nombre" placeholder="ej: Juan Morales">
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">{{ _('Role') }}</label>
                                <div class="controls">
                                    <div class="input-prepend">
                                        <span class="add-on"><i class="icon-wrench"></i></span>
                                    </div>
                                    <select style="margin-left: -4px;" name="rol" id="rol" class="validate[required]">
                                        <option value="">{{ _('Choose a role') }}</option>
                                            <option id="1" value='1'>{{ _('Administrator') }}</option>
                                            <option id="2" value='2'>{{ _('Moderator') }}</option>
                                            <option id="3" value='3'>{ _('User') }}</option>
                                    </select>
                                </div>
                            </div>
                            <div id="main-usuario-clave">
                                <div id="edit-usuario-clave"></div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <button id="edit-usuario-clave-button" class="btn btn-mini btn-metis-5" type="button">{{ _('Edit password') }}</button>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" name="from" id="from" value="panel" />
                                <input type="hidden" name="action" id="action" value="U" />
                                <input type="hidden" name="sendform" id="sendform" value=1 />
                                <button type="submit" class="btn btn-metis-5">{{ _('Update') }}</button>
                                <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /#edit-usuario -->

            <!-- #delete-error -->
            <div id="delete-error" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3><i class="icon-trash"></i> {{ _('Delete errors') }}</h3>
                </div>

                <form action="" method="post" class="form-horizontal">
                    <div class="modal-body">
                        <div id="div-1" class="accordion-body collapse in body">
                            <div class="alert alert-error">
                                <h4><i class="icon-warning-sign"></i> Alerta!</h4><br />
                                <div id="collapse1" class="body">
                                    <span>{{ _('You are going to') }} <b>{{ _('delete') }}</b> {{ _('all error logs  messages') }}.
                                    {{ _('Press confirm to proceed') }}</span>
                                </div>
                                <input type="hidden" name="from" id="from" value="panel" />
                                <input type="hidden" name="logs" id="logs" value="error">
                                <input type="hidden" name="action" id="action" value="LOGS" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="{{ _('Confirm') }}" name="sendform" class="btn btn-metis-5 btn-primary">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
                    </div>
                </form>
            </div>
            <!-- /#delete-error -->

            <!-- #delete-warning -->
            <div id="delete-warning" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel"
                 aria-hidden="true">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h3><i class="icon-trash"></i> {{ _('Delete alerts') }}</h3>
                </div>

                <form action="" method="post" class="form-horizontal">
                    <div class="modal-body">
                        <div id="div-1" class="accordion-body collapse in body">
                            <div class="alert alert-warning">
                                <h4><i class="icon-warning-sign"></i> Alerta!</h4><br />
                                <div id="collapse1" class="body">
                                    <span>{{ _('You are going to') }} <b>{{ _('delete') }}</b> {{ _('all alert logs  messages') }}.
                                    {{ _('Press confirm to proceed') }}</span>
                                </div>
                                <input type="hidden" name="from" id="from" value="panel" />
                                <input type="hidden" name="logs" id="logs" value="warning">
                                <input type="hidden" name="action" id="action" value="LOGS" />
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" value="{{ _('Confirm') }}" name="sendform" class="btn btn-metis-5 btn-primary">
                        <button class="btn" data-dismiss="modal" aria-hidden="true">{{ _('Close') }}</button>
                    </div>
                </form>
            </div>
            <!-- /#delete-warning -->