
                <!-- .outer -->
                <div class="container-fluid outer">
                    <div class="row-fluid">
                        <!-- .inner -->
                        <div class="span12 inner">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="box">
                                        <header>
                                            <div class="toolbar">
                                                <span class="label label-{{ c.type }}">
                                                    <i class="icon-exclamation-sign"></i>
                                                    {{ _('Alerts') }}</span>
                                            </div>
                                        </header>
                                        <div class="body">
                                            <h4 class="text-{{ c.action }}"><i class="icon-exclamation-sign"></i> 
                                                {{ _('Alerts messages') }}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--Begin Datatables-->
                            <hr>
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="row-fluid">
                                        <div class="span12">
                                            <div id="{{ c.action }}" class="box">
                                                <!--<header>
                                                    <h5>asdasd</h5>
                                                    <div class="toolbar">
                                                        <a rel='tooltip' data-original-title='Borrar alertas' href='#' data-toggle='modal'><button class='btn btn-mini btn-warning'><i class='icon-trash'></i></button></a>
                                                        <span class="label label-warning">
                                                            <i class="icon-exclamation-sign"></i>
                                                            Alertas
                                                        </span>
                                                    </div>
                                                </header>-->
                                                <div class="body">
                                                    <p class="muted"><i>
                                                        {{ _('The following messages are') }} <b>{{ _('alerts') }}</b> {{_('of the information system')}}
                                                    </i></p>
                                                    {% for i in c.alert %}
                                                        <span class='badge badge-{{ c.type }}'><small>{{ i }}</small>
                                                        </span>
                                                        <br />
                                                    {% endfor %}

                                                    {% if c.alert|count == 0 %}
                                                        <small class='text-{{ c.action }}'>{{ _('No messages to display') }} <i class='icon-smile'></i>
                                                        </small><br />
                                                    {% else %}
                                                        <br />
                                                        <small>
                                                            <a href='#'>{{ c.alert|count }} {{ _('Total messages') }}</a>
                                                        </small>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <!-- /.inner -->
                    </div>
                    <!-- /.row-fluid -->
                </div>
                <!-- /.outer -->