<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Notifications 
        <small>settings</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-envelope"></i> Profile</a></li>
        <li class="active">Notifications</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div class="col-md-3">
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">My account</h3>
                </div>
                <div class="box-body">
                    <!-- Navigation - folders-->
                    <div style="margin-top: 15px;">
                        <ul class="nav nav-pills nav-stacked">
                            <li><a href="/profile" {{ c.pjax }}><i class="fa fa-home"></i> Profile</a></li>
                            <li><a href="/profile/account" {{ c.pjax }}><i class="fa fa-user"></i> Account</a></li>
                            <li class="active"><a href="/profile/notifications" {{ c.pjax }}><i class="fa fa-envelope"></i> Notifications</a></li>
                            <li><a href="/profile/support" {{ c.pjax }}><i class="fa fa-rocket"></i> Support</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-body">
                    <h4 class="page-header">Notification Settings</h4>
                    <!--<p class="text-muted">We uses the email specified in your profile for notifications</p>-->
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label" for="">Notifications</label>
                            </div>
                            <div class="col-md-8">
                                <!-- form start -->
                                <form id="notifications_global" action="/profile/notifications_global" method="post" role="form">
                                    <div class="form-group">
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="notifications_global" id="r1" value="disabled"
                                                {% if c.notifications_global == 'disabled' or c.notifications_global == None %}
                                                    checked
                                                {% endif %}
                                                />
                                                Disabled <span id="loading_r1"></span><span id="status_r1"></span>
                                                <div><small>You will not get any notifications via email</small></div>
                                            </label>
                                        </div>
                                        <div class="radio">
                                            <label>
                                                <input type="radio" name="notifications_global" id="r2" value="watching"
                                                {% if c.notifications_global == 'watching' %}
                                                    checked
                                                {% endif %}
                                                />
                                                Watching  <span id="loading_r2"></span><span id="status_r2"></span>
                                                <div><small>You will receive all notifications</small></div>
                                            </label>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <h4 class="text-muted">Actions</h4>
                        <small>You can also specify notification level per group or per project. By default all actions uses notification level set above</small>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                Missed calls
                            </div>
                            <div class="col-sm-4">
                                <select class="trigger-submit notifications-level" name="notifications_missed_calls">
                                    <option value="0" {% if c.notifications_missed_calls == '0' %}selected="selected"{% endif %}>disabled</option>
                                    <option value="1" {% if c.notifications_missed_calls == '1' %}selected="selected"{% endif %}>watching</option>
                                    <option value="2" {% if c.notifications_missed_calls == '2' %}selected="selected"{% endif %}>global</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-8">
                                New message
                            </div>
                            <div class="col-sm-4">
                                <select class="trigger-submit notifications-level" name="notifications_messages">
                                    <option value="0" {% if c.notifications_messages == '0' %}selected="selected"{% endif %}>disabled</option>
                                    <option value="1" {% if c.notifications_messages == '1' %}selected="selected"{% endif %}>watching</option>
                                    <option value="2" {% if c.notifications_messages == '2' %}selected="selected"{% endif %}>global</option>
                                </select>
                            </div>
                        </div>
                        <hr />
                    </div><!-- /.box-body -->
                </div><!-- /.box-header -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-3"></div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
