<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        User Profile 
        <small>Profile settings</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Profile</a></li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <!-- row -->
    <div class="row">
        <div id="updated_response"></div>
        <div class="col-md-3">
            <!-- Default box -->
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">My account</h3>
                </div>
                <div class="box-body">
                    <!-- Navigation - folders-->
                    <div style="margin-top: 15px;">
                        <ul class="nav nav-pills nav-stacked">
                            <li class="active"><a href="/profile" {{ c.pjax }}><i class="fa fa-home"></i> Profile</a></li>
                            <li><a href="/profile/account" {{ c.pjax }}><i class="fa fa-user"></i> Account</a></li>
                            <li><a href="/profile/notifications" {{ c.pjax }}><i class="fa fa-envelope"></i> Notifications</a></li>
                            <li><a href="/profile/support" {{ c.pjax }}><i class="fa fa-rocket"></i> Support</a></li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
        <div class="col-md-9">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-body">
                    <h4 class="page-header">Profile settings</h4>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <p class="text-muted">Change your account information, avatar, login credentials, etc.</p>
                    <!-- form start -->
                    <form id="profile_update_settings" action="/profile/update_settings" method="post" role="form">
                        <div class="box-body">
                            <div class="form-group">
                                <label>Profile picture</label>
                                <div class="user-panel">
                                    <div class="pull-left image">
                                        <img src="/adminlte/dist/img/avatar04.png" class="" alt="User Image" />
                                    </div>
                                    <div class="pull-left info">
                                        <div class="btn btn-default btn-file btn-sm">
                                            <i class="fa fa-paperclip"></i> Upload new avatar
                                            <input type="file" name="attachment" />
                                        </div><br>
                                        <small class="text-muted">The maximum file size allowed is 100KB</small>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="user_name">Name</label>
                                <input type="text" class="form-control" id="user_name" name="user_name" placeholder="John Smith" value="{{ c.name }}">
                            </div>
                            <div class="form-group">
                                <label for="email_address">Email</label>
                                <input type="email" class="form-control" id="email_address" name="email_address" placeholder="john@gmail.com" value="{{ c.mail }}">
                            </div>
                            <div class="form-group">
                                <label for="user_company">Company</label>
                                <input type="text" class="form-control" id="user_company" name="user_company" value="{{ c.company }}">
                            </div>
                            <div class="form-group">
                                <label for="user_location">Location</label>
                                <input type="text" class="form-control" id="user_location" name="user_location" value="{{ c.location }}">
                            </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Update profile</button>
                        </div>
                    </form>
                </div><!-- /.box-header -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->