<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        System
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-wrench"></i> Panel</a></li>
        <li class="active">Tools</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <h1>system-panel!</h1>
    <p>this is panel</p>
    {% for i in c.users %}
        <p>{{ i.display_name }}</p>
    {% endfor %}
</section><!-- /.content -->